<div class="payment-container">
  <h2>Pagamento</h2>
  <div *ngIf="product">
    <div class="product-info">
      <img class="product-image" [src]="product.imagem" alt="{{product.nome}}">
      <h2 class="product-nome">{{product.nome}}</h2>
      <p class="product-preco">Preço: R$ {{product.preco}}</p>
      <button class="payment-button" type="submit" (click)="confirmarPagamento()">Confirmar pagamento</button>
      <h3>{{mensagem}}</h3>
    </div>
  </div>
  <div class="error" *ngIf="!product">
    <mat-spinner></mat-spinner>
  </div>
</div>
