.container-main {
  background-color: #fff6f6;
}

.item {
  display: flex;
  flex-wrap: wrap
}

.produto {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.img-produto {
  width: 379px;
  height: 211px;
  margin-right: 10px;
  margin-top: 10px;
  margin-left: 10px;
}

.nome-produto {
  font-size: 18px;
  font-family: sans-serif;
  font-weight: 400;
}




.button {
  background-color: rgba(17, 0, 255, 0.439);
  color: white;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 5px;
}

.button > a {
  text-decoration: none;
  color: white;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.mat-spinner {
  width: 50px; /* Largura do spinner */
  height: 50px; /* Altura do spinner */
  border-width: 4px; /* Espessura da borda */
  border-color: #007ACC transparent transparent transparent; /* Cor da borda */
  animation: spin 2s linear infinite; /* Animação de rotação */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


