<main>
  <div class="container-main">
    <div *ngIf="loading">
      <ul class="item">
        <div class="produto" *ngFor="let produto of cafeteria ">
        <img class="img-produto" src="{{produto.image}}" >
        <h3 class="nome-produto">{{produto.name}}</h3>
        <h3 class="preco-produto">R${{produto.price}}</h3>
        <button class="button"><a [routerLink]="'buy/' + produto.id">compre aqui</a></button>
        </div>
        </ul>
    </div>
    <div class="loading-container" *ngIf="!loading">
      <div class="mat-spinner">
        <mat-spinner></mat-spinner>
      </div>
    </div>
    </div>
  </main>
